@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
/* your CSS below */

@theme {
  --font-poppins: "Poppins", sans-serif;
  --font-outfit: "Outfit", sans-serif;
  --font-roboto: "Roboto", sans-serif;
  --font-work: "Work Sans", sans-serif;

   --shadow-card: 0 10px 25px rgba(0, 0, 0, 0.08);
}

:root {
  --blue-rgb: 237 245 255;
  --green-rgb: 125 161 35;
  --background-color: #ffffff;
  --text-color: #000000
;}
[data-theme="dark"] {
  --background-color: #000000;
  --text-color: #ffffff;
}
app {
  color: var(--text-color);
  background-color: var(--background-color);
  transition: all 0.5s; /* Smooth transition */
}

body {
  font-family: "Work Sans", sans-serif;
}

body:has(.card[data-color="blue"]:hover) {
  background-color: rgb(var(--blue-rgb) / 25%);
}

body:has(.card[data-color="green"]:hover) {
  background-color: rgb(var(--green-rgb) / 25%);
}

@layer utilities {
  .max-container {
    @apply max-w-5xl mx-auto sm:p-16 pb-12 !pt-[126px] px-8 min-h-[calc(100vh-80px)];
  }

  .head-text {
    @apply sm:text-5xl text-3xl font-semibold sm:leading-snug font-poppins;
  }

  .subhead-text {
    @apply font-semibold sm:text-3xl text-xl relative font-poppins;
  }

  .blue-gradient_text {
    @apply bg-gradient-to-r from-[#fca8c5] to-[#cb3659] bg-clip-text text-transparent;
  }

  .input {
  @apply bg-white border border-gray-200 text-gray-900 text-sm rounded-lg
    focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 mt-2.5
    font-normal shadow-card;
}

  .textarea {
    @apply block p-2.5 w-full text-sm text-gray-900 bg-white rounded-lg border border-gray-200 focus:ring-blue-500 focus:border-blue-500 mt-2.5 font-normal shadow-card;
  }

  .btn {
    @apply text-white bg-gradient-to-r from-[#fca8c5] to-[#cb3659] focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center;
  }

  

  .footer {
    @apply max-w-5xl mx-auto sm:px-16 pb-6 px-8 flex flex-col gap-7;
  }

  .footer-container {
    @apply flex flex-wrap gap-7 items-center justify-between;
  }

.info-box {
  @apply mx-5 relative flex text-black flex-col gap-2 max-w-2xl pt-4 pb-12 px-8;
}



  .neo-btn {
    @apply py-3 px-6 rounded-lg text-[#cb3659] text-center font-semibold sm:w-1/2 w-[90%] -bottom-5 absolute mx-auto right-0 left-0 flex justify-center items-center gap-3;
  }

  .cta {
    @apply w-full flex items-center md:flex-row flex-col sm:mt-16 mt-8 gap-7;
  }

  .cta-text {
  @apply text-black font-extrabold flex-1 text-3xl max-md:text-center;
}

}

.glassmorphism {
  border: 1px solid rgba(255, 255, 255, 0.18);
  border-radius: 10px;
  background: rgba(8, 116, 239, 0.07);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
}



.block-container {
  position: relative;
  transition: 250ms;
  perspective: 500px;
}

.block-container .btn-back {
  position: absolute;
  z-index: -1;
  width: inherit;
  height: inherit;
  background: #d04a69;
  box-shadow: 16px 0 40px #e4e4e4;
  transition: 250ms;
  transform: rotateZ(15deg);
  transform-origin: bottom right;
  inset: 0;
  transform-style: preserve-3d;
  will-change: transform;
}



.block-container .btn-front {
  position: absolute;
  z-index: 1;
  overflow: hidden;
  width: inherit;
  height: inherit;
  background-color: #ffffff33;
  transition: 250ms;
  transform-origin: top left;
  inset: 0;
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
  transform-style: preserve-3d;
}

.block-container:hover > .btn-back {
  transform: translateZ(20px) rotateZ(15deg) rotateX(-20deg) rotateY(-20deg);
}

.block-container:hover > .btn-front {
  transform: translateZ(80px) translateY(-5px) rotateX(15deg) rotateY(15deg);
}

/* Neo Brutalism */
.neo-brutalism-blue {
  position: relative;
  border-radius: 10px;
  background: #cb3659;
  box-shadow:
    0.6vmin 0.6vmin #d04a69,
    1vmin 1vmin #d55e7a,
    0.65vmin 1vmin #df869b,
    1vmin 0.65vmin #eaaebc;
}


.neo-brutalism-white {
  border: #fff;
  background: #fff;
  box-shadow: 0.6vmin 0.6vmin #fff, 1vmin 1vmin #d2e4ff, 1vmin 1vmin #d2e4ff,
    0.65vmin 1vmin #d2e4ff, 1vmin 0.65vmin #d2e4ff;
}